doctype html
html
  head
    title Slider Example
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="target-densitydpi=device-dpi, width=device-width, user-scalable=no")

    link(rel="stylesheet" href="../lib/normalize.css")
    link(rel="stylesheet" href="../dist/css/slider.min.css")
    link(rel="stylesheet" href="style.css")

  body
    .container
      .show
        .slide
          .s1
        .slide
          .s2
        .slide
          .s3
        .slide
          .s4
        .slide
          .s5
          
      .show2
        .slide
          img(src="pictures/1.jpg")
        .slide
          img(src="pictures/2.jpg")
        .slide
          img(src="pictures/3.jpg")
          
      .show3
        .slide
          img(src="pictures/1.jpg")
        .slide
          img(src="pictures/2.jpg")
        .slide
          img(src="pictures/3.jpg")


    script(src="../lib/jquery/jquery.min.js")
    script(src="../dist/js/slider.min.js")
    script.
      var slider = new Slider(".show",{
        hasDotNav: true,
        hasArrowNav: true,
        autoplay: false,
        animationTime: 300,
        style: 'cubic',
      })
      
      var slider2 = new Slider(".show2",{
        hasDotNav: true,
        hasArrowNav: true,
        autoplay: true,
        style: 'cubic'
      });
      
      var slider3 = new Slider(".show3",{
        hasDotNav: true,
        hasArrowNav: true,
        autoplay: true,
        infinite: false
      });
      
      //- setInterval(function(){
      //-   slider.slideToNext()
      //- },200)
