$text_1: #222;
$text_2: #666;
$text_3: #999;

.slider-container {
  position: relative;
  height: 100%;
  .slider-wrap {
    position: relative;
    overflow: hidden;
    .slider-slide {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 50;
      img {
        max-width: 100%;
        display: inline-block;
      }
    }
    .slider-slide.active {
      z-index: 60;
    }
  }
  .slider-dot-nav {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding: 20px 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      $dot_size: 8px;
      li {
        display: inline-block;
        margin: 0 10px;
        position: relative;
        width: $dot_size;
        height: $dot_size;
        a {
          position: absolute;
          left: 0;
          top: 0;
          background: #999;
          width: $dot_size;
          height: $dot_size;
          border-radius: 10px;
          display: inline-block;
          cursor: pointer;
          &:hover {
            background: #666;
          }
        }
      }
      li.active {
        a {
         background: transparent;
         border: 1px solid #08c;
         top: -1px;
         left: -1px;
       }
      }
    }
  }
  .slider-arrow-nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li a {
        width: 30px;
        height: 70px;
        display: inline-block;
        position: absolute;
        cursor: pointer;
        background-size: 20px !important;
        margin-top: -35px;
        top: 50%;
        padding: 0 15px;
        opacity: .6;
        transition: all 500ms;
        z-index: 110;
        &:hover {
          opacity: 1;
        }
      }
      li.slider-nav-prev a {
        left: 0;
        background: url(../img/slider-nav-arrow-left.png) no-repeat center;
      }
      li.slider-nav-next a {
        right: 0;
        background: url(../img/slider-nav-arrow-right.png) no-repeat center;
      }
    }
  }
}
.slider-style-cubic {
  overflow: hidden;
  .slider-wrap {
    transform: scale(.333,.333);
    overflow: visible;
  }
}

.page-flip-container {
  position: fixed;
  left: 0;
  top: 0;
  .slider-dot-nav {
    left: 15px;
    ul {
      width: 30px;
      li {
        height: 20px;
        display: block;
      }
    }
  }
}
